$bg: grey;

body{
  background: whitesmoke;
  border: 1px solid #000000;
  overflow: auto;
  width: 100%;
}
div#board{
  width: 620px;
  margin:30px;
}
div#board{
  background: whitesmoke;
  background-image: url("../images/bg-paw.jpg");
  width: 1600px;
  margin: 0;
}
img{
  width: 100px;
  height: 100px;
}
.container{
  background: #89D0CC;
  width: 540px;
  height: fit-content;
  padding: 20px;
  margin:5px 20px;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
}
div#memory-board > div{
  background:#FFD02A;
  border-radius: 10px;
  width: 95px;
  height: 95px;
  float: left;
  padding: 10px;
  margin:10px;
  font-size: 64px;
  cursor: pointer;
  text-align: center;
}
.top-panel{
  background: #89D0CC;
  width: 540px;
  height: 80px;
  padding: 20px;
  margin:20px;
  border-radius: 30px;
  float: left;
  text-align: center;
}
.container> h1{
  font-family: "Comic Sans MS";
  font-size: 48pt;
  margin:auto;
  color: #FFD02A;
}

div#scores{
  //background: #89D0CC;
  //background: whitesmoke;
  background: lightgrey;
  width: 540px;
  padding: 20px;
  margin:5px 20px;
  //border-radius: 30px;
  display:block;
}
.panel#scores> h1{
  font-family: "Comic Sans MS";
  font-size: 48pt;
  color: #FFD02A;
}
.panel{
  background: #89D0CC;
  width: 220px;
  padding: 10px;
  margin:10px;
  border-radius: 10px;
  display:inline-block;
  text-align: center;
}

.panel> h1{
  font-family: "Comic Sans MS";
  margin: 0;
  font-size: 24pt;
  color: #FFD02A;
  display:inline-block;
}
.panel> h2{
  font-family: "Comic Sans MS";
  margin: 0;
  font-size: 24pt;
  color: #E79627;
  display:inline-block;
}

